
@{
    ViewBag.Title = "Painel de Controle";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}

<h1 class="text-light">@ViewBag.Title <span class="mif-drive-eta place-right"></span></h1>
<hr class="thin bg-grayLighter">



