<div class="full-size">
    <div class="bigHeight im1">
        <div class="f-overlay">
            <div class="container vertical-center">
                <div class="grid" style="margin:0px;">
                    <div class="row cells12">
                        <div class="cell colspan8">
                            <p class="leader fg-white">
                                <b>TODAS</b> AS <b>PROVAS</b> EM UM ÚNICO LUGAR
                            </p>
                            <p class="header fg-white">
                                AGORA VOCÊ PODE <b>SIMULAR PROVAS</b> DE <b>VESTIBULARES, CONCURSOS E CERTIFICAÇÕES</b> TUDO EM <b>UM SÓ LUGAR</b>.
                            </p>
                            <br/>
                            <p class="fg-white">TODO O TREINAMENTO QUE VOCÊ PRECISA PARA SE SAIR BEM NAS PROVAS ESTÁ AQUI, ENTRE PARA PODER COMEÇAR</p>
                            <a href="#" class="button btn-default">Entrar</a>
                        </div>
                        <div class="cell colspan4">

                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>

    <div class="smallHeight" style="background-color: blue;">

    </div>
    <div class="mediumHeight im2">   

    </div>
    <div class="smallHeight" style="background-color: blue;">

    </div>
    <div class="mediumHeight im1">

    </div>
    <div class="smallHeight" style="background-color: blue;">

    </div>
    <div class="mediumHeight im2">

    </div>
    <div class="smallHeight" style="background-color: blue;">

    </div>
</div>