<div class="full-size">
    <div class="bigHeight im1">
        <div class="container">
            
        </div>
    </div>

    <div class="smallHeight" style="background-color: blue;">

    </div>
    <div class="mediumHeight im2">   

    </div>
</div>