@model Simulados.EF.Simulado

@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<script type="text/javascript">
    IdSimulado = @ViewBag.IdSimulado;
</script>

<h1 class="text-light">@ViewBag.Title <span class="mif-list2 place-right"></span></h1>
<hr class="thin bg-grayLighter">
<div class="grid" style="margin:0px;">
    <div class="row cells12">
        <div id="questions" class="cell colspan10">

        </div>
        <div class="cell colspan2">
            <button class="button primary" onclick="submit()"><span id="novo" class="mif-plus"></span> Finalizar Simulado</button>
        </div>
    </div>
</div>
<hr class="thin bg-grayLighter">
<div id="content">
    <p id="enunciado">
        
    </p>
    <div id="alternativas">
       
    </div>
</div>


@section scripts{
    <script type="text/javascript">
        var questoes;

        $(document).ready(function(){
            $("#cell-sidebar").hide();

            $.getJSON("@Url.Content("~/")Simulados/GetQuestoes/" + IdSimulado)
            .done(function (json) {
                questoes = json;

                parseJson(json);

                $("#novo").removeClass("mif-loop2 mif-ani-spin").addClass("mif-plus");
            })
            .fail(function (jqxhr, textStatus, error) {
                $("#content").html("<p class='text-light'>Não foi possível conectar ao servidor. Verifique sua conexão com a internet.</p>");
            });
        });

        function parseJson(json){
            for(i = 0; i< json.length; i++ ){
                $("#questions").append("<button id='q"+i+"' onclick='setQ("+i+
                    ")' class='button mini-button danger'>"+ (i + 1) +"</button>");
            } 
            setQ(0);
        }
        function setQ(id){
            $("#enunciado").html(questoes[id].Enunciado).hide().fadeIn(500);
            $("#alternativas").html("").hide();
            
            for(i = 0; i< questoes[id].Alternativas.length; i++){
                $("<input name='alt' type='radio' onclick='setVal("+
                    questoes[id].Alternativas[i].Id +"," + id + ")' id='a"+ 
                    questoes[id].Alternativas[i].Id + "' value=" + 
                    questoes[id].Alternativas[i].Id + " />" +
                    questoes[id].Alternativas[i].Enunciado + "<br/>").appendTo("#alternativas");
            }
            $("#a" + questoes[id].Selecionada).attr('checked', true);
            $("#alternativas").fadeIn(500);
        }
        function setVal(alt, q){
            questoes[q].Selecionada = alt;
            $("#q"+q).removeClass("danger");
        }
    </script>
}